@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;900&family=Rubik+Bubbles&family=Shadows+Into+Light&display=swap');


.titulo{
    color: aliceblue;
    font-size: 35px;
}
.parrafo{
    color: aliceblue;
}
.Pj{
    font-family: 'Rubik Bubbles';
    font-size: 20px;
    font-weight: 10;
    color: rgb(19, 120, 41);
    border-radius: 30px;
    text-shadow: -2px -2px 1px rgb(255, 255, 255), 2px 2px 1px rgb(255, 255, 255), -2px 2px 1px rgb(255, 255, 255),
    2px -2px 1px rgb(255, 255, 255);
}

.listaPj{
    list-style: none;
    color: aliceblue;
}

.tituloSecundario{
    font-family: 'Rubik Bubbles';
    font-size: 20px;
    font-weight: 10;
    color: rgb(19, 120, 41);
    border-radius: 30px;
    text-shadow: -2px -2px 1px rgb(255, 255, 255), 2px 2px 1px rgb(255, 255, 255), -2px 2px 1px rgb(255, 255, 255),
    2px -2px 1px rgb(255, 255, 255);
}