.cards{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 15px;
    /* border: 8px solid rgb(0, 0, 0); */
    border-radius: 50px;
    margin: 5px;
    column-count: 3;
    max-width: 100%;
    column-width: 250px;
    flex-wrap: wrap;
}

.contenedorBtnFiltros{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.btmFiltro{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(40, 121, 58, 0.671);
    border-color: rgba(127, 255, 212, 0);
    border-radius: 20px;
    margin-left: 50px;
}

.btmFiltroReset{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgba(241, 0, 0, 0.671);
    border-color: rgba(127, 255, 212, 0);
    border-radius: 20px;
    margin-left: 50px;
}